In [1]:
import pandas as pd
import numpy as np
from numpy import NaN
from sklearn.metrics import accuracy_score
import math
import random

# 1 pandas형식으로 전환
header_list = ["q", "w", "e", "r", "iris"]
data = pd.read_csv("iris.csv", names=header_list)
data

       q    w    e    r            iris
0    NaN  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]



2 Binning 수행하여 컬럼 추가하기 </br>
3 get_dummies()함수를 활용
dummy_data = pd.get_dummies(data)

4 NaN 데이터 확인, 있다면 삭제, 평균을 구하여 대체하여 업데이트
NOTE NaN 삭제

5 Nomalization을 적용
6 결과 3가지를 모델에 적용하여 정확도를 구하기

In [7]:
data.isnull().sum()

q       2
w       0
e       0
r       1
iris    0
dtype: int64

In [26]:
data = data.replace(NaN, int(data.q.mean()))
data = data.replace(NaN, int(data.w.mean()))
data = data.replace(NaN, int(data.e.mean()))
data = data.replace(NaN, int(data.r.mean()))

4 NaN 데이터 확인, 있다면 삭제, 평균을 구하여 대체하여 업데이트
NOTE NaN 삭제

In [27]:
data['qa'] = (data['q'] - data['q'].min()) / (data['q'].max() - data['q'].min())
data

       q    w    e    r            iris        qa
0    5.0  3.5  1.4  0.2     Iris-setosa  0.194444
1    4.9  3.0  1.4  0.2     Iris-setosa  0.166667
2    4.7  3.2  1.3  0.2     Iris-setosa  0.111111
3    4.6  3.1  1.5  0.2     Iris-setosa  0.083333
4    5.0  3.6  1.4  0.2     Iris-setosa  0.194444
..   ...  ...  ...  ...             ...       ...
145  6.7  3.0  5.2  2.3  Iris-virginica  0.666667
146  6.3  2.5  5.0  1.9  Iris-virginica  0.555556
147  6.5  3.0  5.2  2.0  Iris-virginica  0.611111
148  6.2  3.4  5.4  2.3  Iris-virginica  0.527778
149  5.9  3.0  5.1  1.8  Iris-virginica  0.444444

[150 rows x 6 columns]

In [32]:
group_names = ['작다','보통','크다']
data['bins'], mybins = pd.cut(data['r'],3,labels=group_names,retbins=True)
data

       q    w    e    r            iris        qa bins
0    5.0  3.5  1.4  0.2     Iris-setosa  0.194444   작다
1    4.9  3.0  1.4  0.2     Iris-setosa  0.166667   작다
2    4.7  3.2  1.3  0.2     Iris-setosa  0.111111   작다
3    4.6  3.1  1.5  0.2     Iris-setosa  0.083333   작다
4    5.0  3.6  1.4  0.2     Iris-setosa  0.194444   작다
..   ...  ...  ...  ...             ...       ...  ...
145  6.7  3.0  5.2  2.3  Iris-virginica  0.666667   보통
146  6.3  2.5  5.0  1.9  Iris-virginica  0.555556   보통
147  6.5  3.0  5.2  2.0  Iris-virginica  0.611111   보통
148  6.2  3.4  5.4  2.3  Iris-virginica  0.527778   보통
149  5.9  3.0  5.1  1.8  Iris-virginica  0.444444   보통

[150 rows x 7 columns]

In [36]:
pd.get_dummies(data)

,q,w,e,r,qa,iris_Iris-setosa,iris_Iris-versicolor,iris_Iris-virginica,bins_작다,bins_보통,bins_크다
0,5.0,3.5,1.4,0.2,0.194444,1,0,0,1,0,0
1,4.9,3.0,1.4,0.2,0.166667,1,0,0,1,0,0
2,4.7,3.2,1.3,0.2,0.111111,1,0,0,1,0,0
3,4.6,3.1,1.5,0.2,0.083333,1,0,0,1,0,0
4,5.0,3.6,1.4,0.2,0.194444,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,0.666667,0,0,1,0,1,0
146,6.3,2.5,5.0,1.9,0.555556,0,0,1,0,1,0
147,6.5,3.0,5.2,2.0,0.611111,0,0,1,0,1,0
148,6.2,3.4,5.4,2.3,0.527778,0,0,1,0,1,0
149,5.9,3.0,5.1,1.8,0.444444,0,0,1,0,1,0