In [1]:
import pandas as pd
pd.Series([7, 3, 5, 8])

0    7
1    3
2    5
3    8
dtype: int64

In [8]:
x = pd.Series([7, 3, 5, 8], index=['서울', '대구', '부산', '광주'])
print(x)
x['서울']

서울    7
대구    3
부산    5
광주    8
dtype: int64

7

In [10]:
x[['서울', '대구']]

서울    7
대구    3
dtype: int64

In [12]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

In [13]:
x.values

array([7, 3, 5, 8])

In [14]:
sorted(x.index)

['광주', '대구', '부산', '서울']

In [15]:
sorted(x.values)

[3, 5, 7, 8]

데이터 인덱스 순으로 정렬

In [18]:
x = x.reindex(sorted(x.index))
x

광주    8
대구    3
부산    5
서울    7
dtype: int64

In [22]:
x = pd.Series([7, 3, 5, 8], index=['서울', '대구', '부산', '광주'])
y = pd.Series([1, 1, 2, 3], index=['서울', '대구', '부산', '대전'])

x+y

광주    NaN
대구    4.0
대전    NaN
부산    7.0
서울    8.0
dtype: float64

# DataFrame

In [32]:
data = {'age': [12, 13, 14, 15],
        'name': ['aa', 'ab', 'ac', 'ad'],
        'height': [1234, 12, 13, 14]}

x = pd.DataFrame(data, columns=['age', 'height', 'name'])
x

   age  height name
0   12    1234   aa
1   13      12   ab
2   14      13   ac
3   15      14   ad

In [45]:
ary = [[1, 2],
       [3, 4],
       [5, 6]]
data = pd.DataFrame(ary, columns=['f', 's'])

print(data.iloc[0])
print(data.iloc[1])
data

f    1
s    2
Name: 0, dtype: int64
f    3
s    4
Name: 1, dtype: int64

   f  s
0  1  2
1  3  4
2  5  6

pandas.DataFrame().head(__int__)
안의 갯수만큼 상위 갯수를 출력
기본 값은 5

In [43]:
data.head(2)

   f  s
0  1  2
1  3  4

pandas.DataFrame().tail(__int__)
하위 ~ 개를 출력
기본값 5

In [4]:
ary = [[1, 2],
       [3, 4],
       [5, 6],
       [7, 8],
       [9, 10]]
data = pd.DataFrame(ary, columns=['first', 'second'])

bools = [False, True, True, True, True, False]
data.Second[bools]

AttributeError: 'DataFrame' object has no attribute 'Second'

In [30]:
data = {"age": [15, 1, 30],
        "name": ['bsh', 'aaa', 'bbb'],
        "height": [16, 1, 20]}
x = pd.DataFrame(data, columns=["name", "age", "height"])

In [31]:
x

  name  age  height
0  bsh   15      16
1  aaa    1       1
2  bbb   30      20

In [32]:
x.name

0    bsh
1    aaa
2    bbb
Name: name, dtype: object

In [52]:
# 각 행을 출력

print(x.iloc[0])

name      bsh
age        15
height     16
Name: 0, dtype: object

In [34]:
# 특정값 출력
x.iloc[1,1]

1

In [35]:
# 컬럼값 출력
x['age']

0    15
1     1
2    30
Name: age, dtype: int64

In [53]:
x.mean()

age       15.333333
height    12.333333
dtype: float64