In [1]:
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt


bird_data = pd.read_csv("../Lecture-data/bird_tracking.csv")
print(bird_data.columns)
bird_data

Index(['altitude', 'date_time', 'device_info_serial', 'direction', 'latitude',
       'longitude', 'speed_2d', 'bird_name'],
      dtype='object')

,altitude,date_time,device_info_serial,direction,latitude,longitude,speed_2d,bird_name
0,71,2013-08-15 00:18:08+00,851,NaN,49.419859,2.120733,0.191484,Eric
1,68,2013-08-15 00:48:07+00,851,NaN,49.419880,2.120746,2.739698,Eric
2,68,2013-08-15 01:17:58+00,851,NaN,49.420310,2.120885,0.360099,Eric
3,73,2013-08-15 01:47:51+00,851,NaN,49.420359,2.120859,0.039658,Eric
4,69,2013-08-15 02:17:42+00,851,NaN,49.420331,2.120887,0.107988,Eric
...,...,...,...,...,...,...,...,...
61926,11,2014-04-30 22:00:08+00,833,NaN,51.352572,3.177151,0.247524,Sanne
61927,6,2014-04-30 22:29:57+00,833,NaN,51.352585,3.177144,1.318102,Sanne
61928,5,2014-04-30 22:59:52+00,833,NaN,51.352622,3.177257,2.296908,Sanne
61929,16,2014-04-30 23:29:43+00,833,NaN,51.354641,3.181509,0.586551,Sanne
61930,9,2014-04-30 23:59:34+00,833,NaN,51.354474,3.181057,0.788666,Sanne

6) 새이름 세종류

In [5]:
bird_names=pd.unique(bird_data.bird_name)
bird_names

array(['Eric', 'Nico', 'Sanne'], dtype=object)

7) 첫번째 측정시각 두번째 측정시각 차이

In [9]:
timestamps = []
for k in range(len(bird_data)):
    timestamps.append(dt.datetime.strptime(
        bird_data.date_time.iloc[k][:-3], '%Y-%m-%d %H:%M:%S'))
bird_data['timestamp'] = pd.Series(timestamps, index = bird_data.index)


bird_data.timestamp[1] - bird_data.timestamp[2]

TypeError: 'Timestamp' object is not subscriptable

8) Eric 을 측정한 시간

9) Eric 시작부터 매 측정시간을 누적시간 리스트형식으로 작성